@custom-media --breakpoint-not-small screen and (min-width: 40em);

@custom-media --breakpoint-medium screen and (min-width: 50em);

@custom-media --breakpoint-large screen and (min-width: 60em);

#map {
    width:100%;
    height:calc(100vh - 3.2rem);
}

.show-xs {
  display: none !important;
}

@media (max-width: 640px) {
    .hide-xs {
        display: none !important;
    }
    .show-xs {
        display: block !important;
    }
    #map {
        height:calc(100vh - 4rem);
    }
}
